#centrar{
    text-align: center;
    margin-top: 10px;
}
p{
    text-align: justify;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
}
h5{
    font-weight: normal;
}
h5:hover{
    text-decoration: underline;
    cursor: pointer;
}
body{
    padding-top: 6%;
    background: #212121;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    padding-bottom: 13%;
}
#flex{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#gradient{
    background-color: red; /* For browsers that do not support gradients */
    background: linear-gradient(to right,#22b7fa,#1d28e2);
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    text-align: center;
}
#graident:hover{
    cursor: pointer;

}