<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

</head>
<body>
    <div class="container">
    <div class="wrapper">
      <div class="title"><span>Log into your account</span></div>
      <form  [formGroup]="loginForm" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value,userPost)">
        <div *ngIf="usuario?.invalid && usuario?.touched" class="alert">
            <div *ngIf="usuario?.errors?.required" class=" form-group row">
                <p style="font-size: 20px;">* Username or email is required</p>
            </div>
            <div *ngIf="usuario?.errors?.verification" class="alert form-group row">
               <p style="font-size:20px;">*  Email attached to account is not verified</p> 
            </div>
            <div *ngIf="usuario?.errors?.math" class="alert form-group row">
               <p style="font-size: 20px;">*  Credentials introduced don't match with an account</p>
            </div>
        </div>
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" id="usuario" placeholder="Username or email" formControlName="usuario" ngModel>            
        </div>
        <div *ngIf="password?.invalid && password?.touched" class="alert">
            <div *ngIf="password?.errors?.required" class="alert form-group row">
                <p style="font-size: 20px;" >* Password is required</p>
            </div>
            <div *ngIf="password?.errors?.minlength" class="alert form-group row">
                <p style="font-size: 20px;">*  Password must be 8 characters long</p>
            </div>
        </div>
        <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" placeholder="Password" formControlName="password" ngModel>
        </div>
        <div class="row button">
            <input type="submit" value="Login"  [disabled]="loginForm.invalid">
        </div>
      </form>
    </div>
  </div>
  <!-- 
    <div>
        <form [formGroup]="loginForm" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value,userPost)">
            <h3>Login</h3>
            <label for="usuario">Username or email:</label>
            <div *ngIf="usuario?.invalid && usuario?.touched" class="alert form-group row">
                <div *ngIf="usuario?.errors?.required">
                    * Username or email is required
                </div>
                <div *ngIf="usuario?.errors?.verification">
                    *  Email attached to account is not verified
                </div>
                <div *ngIf="usuario?.errors?.math">
                    *  Credentials introduced don't match with an account
                </div>
            </div>

            <input type="text" id="usuario" placeholder="Username or email" formControlName="usuario" ngModel> <br>
            <label for="password">Password:</label>
            <div *ngIf="password?.invalid && password?.touched" class="alert">
                <div *ngIf="password?.errors?.required">
                    * Password is required
                </div>
                <div *ngIf="password?.errors?.minlength">
                    *  Password must be 8 characters long
                </div>
            </div>
            <input type="password" id="password" placeholder="Password" formControlName="password" ngModel>
            <br>
            <input type="submit" value="Login"  [disabled]="loginForm.invalid">
        </form>
    </div>--> 
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>
