<form [formGroup]="articleForm" #articlePost="ngForm" (ngSubmit)="onSubmit(articlePost.value)">
  <label for="titulo">Title of article</label>
  <input type="text" id="titulo" formControlName="titulo" ngModel>
  <label for="tags">Article tags:</label>
  <input type="checkbox" id="pop" name="pop" value="pop" formControlName="pop" ngModel>
  <label for="pop">Pop</label>
  <br>
  <input type="checkbox" id="rock" name="rock" value="rock" formControlName="rock" ngModel>
  <label for="rock">Rock</label>
  <br>
  <input type="checkbox" id="hiphop" name="hiphop" value="hiphop" formControlName="hiphop" ngModel>
  <label for="hiphop">Hip Hop & Rap</label>
  <br>
  <input type="checkbox" id="country" name="country" value="country" formControlName="country" ngModel>
  <label for="country">Country</label>
  <br>
  <input type="checkbox" id="rb" name="rb" value="rb" formControlName="rb" ngModel>
  <label for="rb">R&B</label>
  <br>
  <input type="checkbox" id="soul" name="soul" value="soul" formControlName="soul" ngModel>
  <label for="soul">Soul</label>
  <br>
  <input type="checkbox" id="classical" name="classical" value="classical" formControlName="classical" ngModel>
  <label for="classical">Clasical</label>
  <br>
  <input type="checkbox" id="regional" name="regional" value="regional" formControlName="regional" ngModel>
  <label for="regional">Regional</label>
  <br>
  <input type="checkbox" id="jazz" name="jazz" value="jazz" formControlName="jazz" ngModel>
  <label for="jazz">Jazz</label>
  <br>
  <input type="checkbox" id="edm" name="edm" value="edm" formControlName="edm" ngModel>
  <label for="edm">EDM</label>
  <br>
  <label for="text">Contenido de articulo</label>
  <input type="file" (change)="onFileSelected($event)" id="imagen" formControlName="imagen" ngModel>
  <textarea cols="80" rows="5" id="texto" name="texto" value="text" formControlName="texto" ngModel></textarea>
  <input type="submit" value="Publish article" [disabled]="articleForm.invalid">
</form>
<!--<img src="http://25.83.103.75:5000/images/backend_ksg.jpg" width="100px" height="100px"> -->