h3{
    text-align: center;
    color: #f6f6f6;
}
#playlists{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}
#border{
    border:1px solid white;
}
button{
    display: inline;
}
#spotify{
    text-align: center;
}
img{
        border-radius: 50%;

}
#img:hover{
    cursor: pointer;
    height: 250px;
    width: 250px;
    transition: 1.5s;
}
p{
    color: #f6f6f6; font-family: 'Trebuchet MS', sans-serif; font-size: 16px; line-height: 24px;
}
body{
    background: #212121;
    padding-bottom: 1%;
}
#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
#title:hover{
    cursor: pointer;
    text-decoration: underline;
}
#writer:hover{
    cursor: pointer;
    text-decoration: underline;
}
#item{
    border: 1px solid black;
    text-align: center;
    flex-basis: 30%;
}
#item:hover{
    flex-basis: 40%;
    transition: 1s ease-in-out;
}