h3{
    text-align: center;
    color: #f6f6f6;
}
#playlists{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}
#border{
    border:1px solid white;
}
button{
    display: inline;
}
#spotify{
    text-align: center;
}
img{
        border-radius: 50%;
}
p{
    color: #f6f6f6; font-family: 'Trebuchet MS', sans-serif; font-size: 16px; line-height: 24px;
}
body{
    background: #212121;
    padding-bottom: 1%;
}