h3{
    text-align: center;
}
#playlists{
    border: 1px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}
#border{
    border:1px solid red;
}
button{
    display: inline;
}
#spotify{
    text-align: center;
}